


<!-- Sitemap Web IIJAZY (iijazy.online)


<div class="web-iijazy">
    <div class="landing-page">
        <div class="tentang">
            Profil singkat, visi misi, Pengajar, fasilitas
        </div>
        <div class="kurikulum">
            Matkul apa saja yang diajarkan di IIJAZY
        </div>
        <div class="berita">
            Berita dan kegiatan IIJAZY, foto-foto santri dengan kegiatan mereka
        </div>
    </div>
    <div class="portal-santri">
        <div class="santri-1"></div>
        <div class="santri-2"></div>
        <div class="santri-3"></div>
        dst, setiap portal terpisah dengan yang lainnya
    </div>
    <div class="portal-pengurus">
        <div class="juli"></div>
        <div class="agustus"></div>
        <div class="sept"></div>
        setiap portal dengan id berbeda, disambungkan satu dengan lainnya, agar bisa mengecek di bulan yang lain
    </div>
</div> -->
